.root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.root img {
    width: 10rem;
    margin: 0 auto;
    height: auto;
    margin-top: 12rem;
}

.root .container,
.root .content {
    height: 0.1rem;
    width: 8rem;
    border-radius: 9999px;
}

.root .container {
    margin-top: 1rem;
    background-color: rgb(255 255 255);
}

.root .content {
    width: 4rem;
    background-color: var(--primary-color);
    animation: slide 1s infinite alternate;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(4rem);
    }
} 